{% extends "base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
<style>

</style>
{% endblock %}


{% block ScriptBlock %}
<script type="text/javascript">
var ChartsFlotcharts = function() {

    return {
        //main function to initiate the module



        initCharts: function() {

            if (!jQuery.plot) {
                return;
            }

            var data = [];
            var totalPoints = 250;

            // random data generator for plot charts

            function getRandomData() {
                if (data.length > 0) data = data.slice(1);
                // do a random walk
                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 50;
                    var y = prev + Math.random() * 10 - 5;
                    if (y < 0) y = 0;
                    if (y > 100) y = 100;
                    data.push(y);
                }
                // zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]]);
                }

                return res;
            }

            //Basic Chart

            function chart_passage(TDP) {
                if ($('#chart_passage').size() != 1) {
                    return;
                }

                function randValue() {
                    return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
                }
               

                var plot = $.plot($("#chart_passage"), [{
                    data: TDP,
                    label: "Temps de passage",
                    lines: {
                        lineWidth: 1,
                    },
                    shadowSize: 0

                }], {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: {
                                colors: [{
                                    opacity: 0.05
                                }, {
                                    opacity: 0.01
                                }]
                            }
                        },
                        points: {
                            show: true,
                            radius: 3,
                            lineWidth: 1
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#eee",
                        borderColor: "#eee",
                        borderWidth: 1
                    },
                    colors: ["#d12610", "#37b7f3", "#52e136"],
                    xaxis: {
                        ticks: 20,
                        tickDecimals: 2,
                        tickColor: "#eee",
                    },
                    yaxis: {
                        ticks: 10,
                        tickDecimals: 2,
                        tickColor: "#eee",
                    }
                });


                function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 15,
                        border: '1px solid #333',
                        padding: '4px',
                        color: '#fff',
                        'border-radius': '3px',
                        'background-color': '#333',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                var previousPoint = null;
                $("#chart_passage").bind("plothover", function(event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));

                    if (item) {
                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);

                            showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            }

            //Interactive Chart

            function chart2(tdt, tk) {
                if ($('#chart_2').size() != 1) {
                    return;
                }

                function randValue() {
                    return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
                }
                

                var plot = $.plot($("#chart_2"), [{
                    data: tdt,
                    label: "Temps de cycle",
                    lines: {
                        lineWidth: 1,
                    },
                    shadowSize: 0

                }, {
                    data: tk,
                    label: "Takt Time",
                    lines: {
                        lineWidth: 1,
                    },
                    shadowSize: 0
                }], {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: {
                                colors: [{
                                    opacity: 0.05
                                }, {
                                    opacity: 0.01
                                }]
                            }
                        },
                        points: {
                            show: true,
                            radius: 3,
                            lineWidth: 1
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#eee",
                        borderColor: "#eee",
                        borderWidth: 1
                    },
                    colors: ["#d12610", "#37b7f3", "#52e136"],
                    xaxis: {
                        ticks: 20,
                        tickDecimals: 2,
                        tickColor: "#eee",
                    },
                    yaxis: {
                        ticks: 11,
                        tickDecimals: 0,
                        tickColor: "#eee",
                    }
                });


                function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 15,
                        border: '1px solid #333',
                        padding: '4px',
                        color: '#fff',
                        'border-radius': '3px',
                        'background-color': '#333',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                var previousPoint = null;
                $("#chart_2").bind("plothover", function(event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));

                    if (item) {
                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);

                            showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            }

            //Tracking Curves


            //graph
            //chart_passage();
            

            var url = '/temps_de_cycle/';
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            'text': 'text',
                            csrfmiddlewaretoken: String(document.cookie.split('csrftoken')).split("=")[1]
                        },
                        success: function (data) {
                            chart2(data.temps, data.takt);
                        },
                        error: function (xhr, msg, err) {
                            //$("#loginError").text(xhr.responseJSON.error);
                        }

                });


                    $.ajax({
                        type: 'POST',
                        url: '/temps_de_passage/',
                        data: {
                            'text': 'text',
                            csrfmiddlewaretoken: String(document.cookie.split('csrftoken')).split("=")[1]
                        },
                        success: function (data) {
                            
                            if(data.TDP.length==0){
                                data=[[1,],[2,],[3,],[4,],[5,],[6,],[7,],[8,],[9,],[10,]];
                                chart_passage(data);
                            }else{
                                chart_passage(data.TDP);
                            }
                            
                        },
                        error: function (xhr, msg, err) {
                            //$("#loginError").text(xhr.responseJSON.error);
                        }

                });        

        },

    };
}();
 jQuery(document).ready(function() {

    ChartsFlotcharts.initCharts();

});

</script>
{% endblock %}

{% block content %}





                         <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                       <!--  <i class="icon-settings font-dark"></i> -->
                                        <span class="caption-subject font-dark sbold uppercase">Temps de cycle Vs Takt Time</span>
                                    </div>
                                    <div class="actions">
                                      
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="chart_2" class="chart" > </div>


                                </div>
                            </div>

       <!-- BEGIN BASIC CHART PORTLET-->

                         <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                       <!--  <i class="icon-settings font-dark"></i> -->
                                        <span class="caption-subject font-dark sbold uppercase">Temps de Passage</span>
                                    </div>
                                    <div class="actions">
                                      
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="chart_passage" class="chart" > </div>


                                </div>
                            </div>
                      
                            <!-- END BASIC CHART PORTLET-->



                        </div>
                    </div>




{% endblock %}